body{
    background-color:#aab19a;
    background-image: url("../images/green_cup.png");
    height:100%;
}
.display_none{
    display: none;
}
.modal-backdrop
{
    opacity:0.4 !important;
}
#chat-div{
    max-height: 160px;
    overflow-y: auto;
}
#pageFooter{
    border-top: 2px solid #66ffff;
}
#results-modal img{
    height: 150px;width:auto;
    max-width:220px;
}
#weapons-div .btn{
    min-width:120px;
}
@media screen and (max-width:668px){
    ul{
        padding-left:1px;
    }
    .container{
        margin-bottom:160px;
    }
    .display-5{
        font-size: 10px;
    }
        
}